body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	margin: 0px;
}

h3 {
	margin: 0px;
	margin-top: 10px;
}

.boxplot {
  font: 10px sans-serif;
}

.boxplot line,
.boxplot rect,
.boxplot circle {
  fill: #dbd8de;
  stroke: #000;
  stroke-width: 1.5px;
}

.boxplot .center {
   stroke-dasharray: 3,3;
}

.boxplot .outlier {
	fill: #FB9A99;
	opacity: 1;
	stroke: #d57375;
}

.boxplot .point {
	fill: #B2DF8A;
	opacity: 1;
	stroke: #90c26a;
}

div.tooltip {	
    position: absolute;			
    text-align: center;											
    padding: 5px 10px 5px 10px;				
    font: 12px sans-serif;		
    background: #fff;	
    border: 2px solid #ddd;		
    opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}