body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

p {
	margin: 0px;
}

h3 {
	margin: 0px;
}

/**
 * Page elements
 */
 #main {
 	margin: 15px;
 	clear: both;
 }
 
#left {
	float: left;
	margin-right: 40px;
}

.chart {
	margin-top: 25px;
}

/**
 * D3 charts
 */
.boxplot {
  font: 10px sans-serif;
}

.boxplot line,
.boxplot rect,
.boxplot circle {
  fill: #dbd8de;
  stroke: #000;
  stroke-width: 1.5px;
}

.boxplot .center {
   stroke-dasharray: 3,3;
}

.boxplot .outlier {
	fill: #FB9A99;
	opacity: 1;
	stroke: #d57375;
}

.boxplot .point {
	fill: #B2DF8A;
	opacity: 1;
	stroke: #90c26a;
}

#tooltip {	
    position: absolute;			
    text-align: center;											
    padding: 5px 10px 5px 10px;				
    font: 10px sans-serif;		
    background: #fff;	
    border: 2px solid #ddd;		
    opacity: 1;
}

.axis .tick,
.axis .label {
	font: 10px sans-serif;		
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend text {
	font: 10px sans-serif;		
}